* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  
}

a {
  color: #E85A5E;
}

a::visted {
  color: #64589F;
}

.container {
  background-color: #FFE1A4;
}

.js-results {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-gap: 1em;
  grid-auto-rows: auto;
}

.search-bar {
  align-content: center;
}

.js-location-form {
  display: inline-block;
  
}

button {
  display: block;
  position: absolute;
  left: 50%;
  top: 5%;
}

.card-container {
  cursor: pointer;
  position: static;
  display: grid;
  
  height: 2000px;
  width: 1fr;
  text-align: center;
  margin: auto;
/*   overflow: auto; */
}

.card {
  
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transition: all 1.3s ease-in-out;
  -webkit-transition: all 1.3s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  width: 70%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }

.card:hover {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: auto;
  color: #DAFBF7;
  background-color: #5C4785;
  position:absolute;
  overflow: hidden;
  width: 100%;
  
  display: block
}

.card .back {
  background: #DAFBF7;
  color: #5C4785;
  text-align: center;
  border-radius: 6px;
  transform: rotateY(180deg);
  width: 100%
}

.js-results > div:nth-child(even) .card.side {
  background:#3EE8D4;
  color: #5C4785;
}

.js-results > div:nth-child(odd) .card.side {
  background: #CCFFDD;
  color: #5C4785;
}

.js-results > div:nth-child(odd) .card.back {
  background:#3EE8D4;
  color: #5C4785;
}

.js-results > div:nth-child(even) .card.back {
  background: #CCFFDD;
  color: #5C4785;
}


.js-results {
  text-align: center;
  margin-top: 40px;
}

.js-events li {
  list-style: none;
}

/* .js-events {
  grid-column-start: 2;
  border-radius: 10px;

} */

#map {
    display: none;
    height: 400px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px
  }

  .card.disabled:hover {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }