* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  
}

a {
  color: #E85A5E;
}

a::visted {
  color: #64589F;
}

.container {
  background-color: #FFE1A4;
}

.js-results {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);  
}

.search-bar {
  align-content: center;
}

.js-location-form {
  display: inline-block;
  
}

button {
  display: block;
  position: absolute;
  left: 50%;
  top: 5%;
}

.card-container {
  cursor: pointer;
  perspective: 600;
  position: relative;
  grid-column-start: 2;
}

.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1 s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  width: 100%;
}

.card::hover {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position:absolute;
  overflow: hidden;
  width: 100%;
}

.card .back {
  background: #3EE8D4;
  color: #725197;
  text-align: center;
  transform: rotateY(180deg);
}

.js-results > div {
  padding: 1em;
  background:#3EE8D4;
  color: #725197;
}

.js-results > div:nth-child(odd){
  background: #8CFFB0;
  color: #725197;
}

.js-results {
  text-align: center;
  margin-top: 40px;
}

.js-events li {
  list-style: none;
}

.js-events {
  grid-column-start: 2;
  border-radius: 10px;
  /* width: 75%; */
  /* margin: auto; */
}

#map {
    height: 400px;
    width: 100%;
    margin-top: 80px
  }